.Feed {
  margin: 20px;
  padding: 15px;
  border: solid 1px #00c3e3;
  border-radius: 5px;
  width: 300px;
  height: auto;
  background: #15e5ff;
  color: white;
  font-weight: bold;
  font-size: 18px;
}

.Feed .Title {
  margin: 5px;
}

.Feed .Content {
  margin: 5px;
}

.Feed .Like {
  width: 20px;
  height: 20px;
}

label {
  display: block;
}